Talking, what's it good for?
Absolutely nothing
Wrestle, let's wrestle
You can pin me to anything

Thought I saw you in my tea leaves
Thought I saw you in a forest flame
I'll fill up the silence with the sound of your holy name

Knowledge of the sea-ways, knowledge of how the water flows
Whoever coined the phrase has never had to brave the snow
I climbed the shroud to the top-sail and I peeked through the glass
The curvature bisected by a wintry mizzen mast
